{% extends "base.html" %}
{% block title %}Privacy Policy — Artificial Gladiator{% endblock %}

{% block content %}
<div class="animate-fade-in">
  <div name="termly-embed" data-id="680988b4-57d0-41f4-b7cc-0668f06da6f4"></div>
  <script type="text/javascript">(function(d, s, id) {
    var js, tjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://app.termly.io/embed-policy.min.js";
    tjs.parentNode.insertBefore(js, tjs);
  }(document, 'script', 'termly-jssdk'));</script>
</div>
{% endblock %}